div.nav {
	width: 100%;
	height: 300px;

	background-image: url(../images/background.png);
}

div.nav ul {
	display: block;

	background-color: black;
}

div.nav ul li {
	font-size: 18pt;
	margin-top: 260px;
	margin-left: 100px;

	float: left;
	list-style-type: none;
}

div.nav ul li.first-element {
	margin-left: 15%;
}

div.nav ul li a:link, div.nav ul li a:visited {
	color: white;
}

div.nav ul li a:hover {
	color: #7409CD;
}

div.nav ul li.current a{
	color: #EE6800;
}

body {
	background-color: black; 
}


