#projects-start-page p {
	color: white;
	font-size: 14pt;
	text-align: center;
}

#projects-start-page h1 {
	color: #EE6800;
	text-align: center;
}

h3 {
	color: #EE6800;
}

#main-github-link a, #AcaBot-github-link a, #personal-website a {
	margin-left: 50px;
	color: white;
}